body {
  background-color: #101010;
  color: #8f8f8f;
}

::selection {
  background-color: #8f8f8f;
  color: #101010;
}

::-moz-selection {
  background-color: #8f8f8f;
  color: #101010;
}

html {
  font-family: Terminus, monospace;
  font-size: 15px;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}


time {
  text-align: center;
}

p {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

pre {
  text-align: left;
  align-content: center;  

}

article {
  align-content: center;
  width: 85ch;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #8f8f8f;
 
}

nav {
  text-align: center;
}

li {
  list-style: none;
}

.selected {
  font-weight: bolder;
}

a:hover {
  background-color: #8f8f8f;
  /*background-color: orange;*/
  color: #101010;
}

pre {
  font-family: Terminus, Lucida Typewriter, monospace;
  font-size: 13px;
}


